<mat-card>
  <form ngForm (submit)="onClickAdd(myform)" #myform="ngForm">
    <mat-form-field>
      <input
      type="text"
      minlength="3"
      matInput
      ngModel
      name="title"
      #title="ngModel"
      placeholder="Add a Title"
      required>
    <mat-error *ngIf="title.invalid">Please enter a valid title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      rows=4
      matInput
      ngModel
      name="content"
      #content="ngModel"
      placeholder="Add Content"
      required></textarea>
    <mat-error *ngIf="content.invalid">Please enter some content</mat-error>
    </mat-form-field>
    <button
    color = 'accent'
    type="submit"
    mat-raised-button>Post</button>
  </form>
</mat-card>
