<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(myform)" #myform="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
      type="text"
      minlength="3"
      matInput
      name="title"
      [ngModel] = "post?.title"
      #title="ngModel"
      placeholder="Add a Title"
      required>
    <mat-error *ngIf="title.invalid">Please enter a valid title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      rows=4
      matInput
      name="content"
      [ngModel] = "post?.content"
      #content="ngModel"
      placeholder="Add Content"
      required></textarea>
    <mat-error *ngIf="content.invalid">Please enter some content</mat-error>
    </mat-form-field>
    <button
    color = 'accent'
    type="submit"
    mat-raised-button>Post</button>
  </form>
</mat-card>
